<div class="flex-container">
  <div class="main-label">
    <h1>Create Sticker</h1>
  </div>
  <form [formGroup]="stickerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="label">
        <label>Sticker Label:</label>
      </div>
      <input
        type="text"
        id="stickerLabel"
        formControlName="stickerLabel"
        class="form-control">
      <span
        *ngIf="!stickerForm.get('stickerLabel')?.valid && stickerForm.get('stickerLabel').touched"
        class="help-block">Please enter some text!</span>
    </div>
    <div class="form-group">
      <div class="label">
        <label>Date:</label>
      </div>
      <input
        type="date"
        id="date"
        formControlName="date"
        class="form-control">
      <span
        *ngIf="!stickerForm.get('date').valid && stickerForm.get('date').touched"
        class="help-block">Please choose some date!</span>
    </div>
    <div class="submit-btn">
      <button [disabled]="!stickerForm.get('stickerLabel').valid || !stickerForm.get('date').valid"
              class="btn"
              type="submit">Create Sticker</button>
    </div>
  </form>
</div>
