.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FAFBFC;
  font-size: 13px;
  cursor: pointer;
}

.option {
  padding-left: 39px;
}

.arrow-icon {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}

.first-item {
  display: flex;
  align-items: center;
  border-left: 4px solid #5CEAAE;
  padding-top: 10px;
  padding-bottom: 10px;
}

.last-item {
  display: flex;
  align-items: center;
  border-left: 4px solid #21CBCC;
  margin-top: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.active-item {
  color: #00DD80;
  background: #E5F9F3;
}

.first-option {
  margin: 0;
}

.last-option {
  margin: 0;
}

.item {
  border-left: 4px solid #5CEAAE;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}


