.main-page {
  font-family: 'Nunito', sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #8699A8;
}

.flex-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.menu-bar {
  height: 100%;
}

.main-content {
  height: 100%;
}
