<div class="toolbar">
  <div class="options">
    <!--<div class="option">-->
      <a class="link" routerLinkActive="active" [routerLink]="['/dashboard/timesheet']">
        <p class="label timesheet">
          Timesheet
        </p>
      </a>
    <!--</div>-->
    <!--<div class="option">-->
      <a class="link" routerLinkActive="active" [routerLink]="['/dashboard/projects']">
        <p class="label projects">
          Projects
        </p>
      </a>
    <!--</div>-->
    <!--<div class="option">-->
      <a class="link" routerLinkActive="active" [routerLink]="['dashboard/team']">
        <p class="label team">
          Team
        </p>
      </a>
    <!--</div>-->
  </div>
  <div class="right-side">
    <a class="material-icons icon">notifications
      <div class="online"></div>
    </a>
    <div class="circle"></div>
  </div>
</div>
