.content {
  background: linear-gradient(to right, #E8EAEE 0%, #F2F4F7 0.5%);
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  align-items: center;
  width: 100%;
}

.left {
  display: -webkit-box;
  align-items: center;
  margin-right: 50px;
}

.square {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #00DD80;
  margin: 40px 20px 40px 40px;
}

.square-label {
  margin: 40px 70px 40px 0px;
}

.label {
  margin: 0;
  font-weight: bold;
}

.underlabel {
  margin: 0;
  font-size: 14px;
}

.switch-layout {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background: #E7EDF1;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.switch-left-column {
  width: 36px;
  height: 27px;
  margin: 4px 4px 4px 4px;
  border-radius: 3px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.switch-right-column {
  cursor: pointer;
}

.switch-left-row {
  width: 36px;
  height: 27px;
  margin: 4px 0px 4px 4px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}


.switch-right-row {
  width: 36px;
  height: 27px;
  margin: 4px 4px 4px 4px;
  border-radius: 3px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
}

.vertical-column {
  width: 4px;
  height: 11px;
  margin-right: 1px;
  background: #37E612;
  border-radius: 1.5px;
}

.horizontal-column {
  height: 3px;
  width: 14px;
  margin-bottom: 1px;
  margin-left: 9px;
  margin-top: 1px;
  border-radius: 1.5px;
  background: #B7C6D3;
}

.vertical-row {
  width: 4px;
  height: 11px;
  margin-right: 1px;
  background: #B7C6D3;
  border-radius: 1.5px;
}

.horizontal-row {
  height: 3px;
  width: 14px;
  margin: 1px 7px 0px 9px;
  border-radius: 1.5px;
  background: #37E612;
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  border-radius: 5px;
  background: #EDF0F4;
  margin-right: 20px;
}

.switch-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu-item {
  text-decoration: none;
  font-size: 12px;
  color: #CCD6DF;
  font-weight: bold;
  cursor: pointer;
  margin: 12px;
}

.menu-item:hover {
  color: #8AF170;
}

.active {
  color: #8AF170 !important;
  background: #FFFFFF;
  padding: 6px 10px 6px 10px;
  margin-left: 5px;
  margin-right: 0px;
  border-radius: 2px;
}

.widget-array-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-array-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.placeholder {
  font-size: 65px;
}
